@using practica2.Models
@model Producto

<h1>Agrega un producto</h1>
<div class="formulario">
@using (Html.BeginForm())
{
   <!-- ID -->
    <div class="form-group">
        <label for="idProducto">ID</label>
        <br>
        @Html.EditorFor(Model => Model.id)
        <br>
        <small id="emailHelp" class="form-text text-muted">Debe ser un número entero de no más de 6 dígitos.</small>
        <br>
    </div>
    <!-- NOMBRE -->
    <div class="form-group">
        <label for="nombreProducto">Nombre</label>
        <br>
        @Html.EditorFor(Model => Model.nombre)
        <br>
    </div>
    <!-- PRECIO -->
    <div class="form-group">
        <label for="precioProducto">Precio</label>
        <br>
        @Html.EditorFor(Model => Model.precio)
        <br>
    </div>
    <!-- PROVEEDOR -->
    <div class="form-group">
        <label for="proveedorProducto">Proveedor</label>
        <br>
        @Html.EditorFor(Model => Model.proveedor)
        <br>
    </div>
    <!-- STOCK -->
    <div class="form-group">
        <label for="stockProducto">Stock</label>
        <br>
        @Html.EditorFor(Model => Model.stock)
        <br>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Agregar</button>
}
</div>































@*<form>
    <div class="form-group">
        <label for="idProd">ID</label>
        <input class="form-control" id="idProd" placeholder="Ingrese un identificador" value="">
        <small id="emailHelp" class="form-text text-muted">Debe ser un número entero de no más de 6 dígitos.</small>
    </div>
    <div class="form-group">
        <label for="@nombre">Nombre</label>
        <input class="form-control" id="nombreProd" placeholder="Ingrese el nombre del producto" value="">
    </div>
    <div class="form-group">
        <label for="@precio">Precio</label>
        <input class="form-control" id="precioProd" placeholder="Ingrese el precio unitario del producto" value="">
    </div>
    <div class="form-group">
        <label for="@proveedor">Proveedor</label>
        <input class="form-control" id="provProd" placeholder="Ingrese el nombre del proveedor del producto" value="">
    </div>
    <div class="form-group">
        <label for="@stock">Stock</label>
        <input class="form-control" id="provStock" placeholder="Ingrese la cantidad de unidades disponibles" value="">
    </div>


    @{
        Producto nuevoProducto = new Producto(id, nombre, precio, proveedor, stock);
       
    }
    <a asp-area="" asp-controller="Producto" asp-action="AgregarProducto(@nuevoProducto)"><button type="submit" class="btn btn-primary">Agregar</button></a>
</form>*@

